@model Data.ViewModels.PagedListClient<Data.Models.tbDoctor>
@using PagedList;
@using PagedList.Mvc;


@{

    if (Model.TotalCount > 0)
    {


        <div id="list_Binder">
            @foreach (var list in Model.Results)
            {
                <div class="panel-custom-default pa-10 mt-5" id="div_Doctor_@list.ID">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-1">
                                <span><img src="~/Content/Image/doctor.png" style="width: 80px; height: 80px;" /></span>
                            </div>

                            <div class="col-sm-2">
                                <h6 class="lh15">@list.Name</h6>
                                <span class="lh10 text-muted">Name</span>
                            </div>
                            <div class="col-sm-1">
                                <h6 class="lh15">@list.Specialty</h6>
                                <span class="lh10 text-muted">Specialty</span>
                            </div>
                            <div class="col-sm-1">
                                <h6 class="lh15">@list.Type</h6>
                                <span class="lh10 text-muted">Type</span>
                            </div>
                            <div class="col-sm-5">
                                <h6 class="lh15">@list.Qualification</h6>
                                <span class="lh10 text-muted">Qualification</span>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary btn-xs btnr5" data-ID="@list.ID" onclick="EditDoctor(this)">Edit</button>
                                &nbsp;&nbsp;

                                @*<button class="btn btn-warning btn-xs btnr5" data-ID="@list.ID" onclick="DeleteDoctor(this)">Delete</button>*@

                                <button type="button" class="btn btn-danger btn-xs"
                                        data-roleid="@list.ID"
                                        data-action="@Url.Action("DeleteDoctor", "Doctor")"
                                        data-modalid="modal_delete"
                                        data-id="@list.ID"
                                        @{var infoid = "div_Doctor_" + list.ID; }
                                        data-infoid="@infoid"
                                        onclick="deleteconfirmation(this)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Delete
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
            <div class="col-md-12">
                <div class="pagedList" style="text-align:center">
                    @Html.PagedListPager(Model.Results, page => Url.Action("_doctorlist", "Doctor",
 new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
    }
    else
    {
        <div class="panel-custom-default pa-10 mt-5">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h4>There is no search doctor list</h4>
                    <h6>Add a new doctor.....</h6><button class="btn btn-primary btn-xs btn-rounded" onclick="addDoctor()">Add Doctor</button>
                </div>
                </div>
            </div>
                    }
                    }





