
@model Data.ViewModels.PagedListClient<Data.Models.tbAppointment>
@using PagedList;
@using PagedList.Mvc;
@{
    if (Model.TotalCount > 0)
    {
        <div id="list_Binder">
            @foreach (var list in Model.Results)
            {
                <div class="panel-custom-default pa-10 mt-20" id="div_statuscancel">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="col-md-2">
                                <span style="padding-top:10px"><img src="~/Content/Image/patient.png" style="width: 80px; height: 80px;" /></span>
                            </div>
                            <div class="col-md-2">
                                <h6 class="zawgyi_text ml-15">@list.PatientName</h6>
                                <span class="zawgyi_text ml-15">@list.PatientAge yrs</span>

                            </div>


                            <div class="col-md-2">
                                <h6 class="zawgyi_text">@list.DoctorName</h6>

                            </div>

                            <div class="col-md-4">
                                <h6 class="zawgyi_text">Appointment : @list.AppointmentDateTime.Value.ToString("dd MMM yyyy") @list.AppointmentDateTime.Value.ToShortTimeString()</h6>
                            </div>

                            <div class="col-md-2">
                                <span class="">
                                    <span class="text-success" data-status="ACCEPTED" data-id="">Booking No : </span>
                                    <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon" onclick="newstatusChange(this)" data-status="CHECKIN" data-id="@list.ID">@list.Counter</a>
                                </span>
                            </div>






                        </div>
                    </div>
                </div>
            }
        </div>
        <br /><br />
                <div class="col-md-12">
                    <div class="pagedList" style="text-align:center">
                        @Html.PagedListPager(Model.Results, page => Url.Action("_historylist", "History",
                                          new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
    }
    else
    {
        <div class="panel-custom-default pa-10 mt-20">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="text-align:center">......There is no history list......</h4>
                </div>
            </div>
        </div>
    }
}