@model List<Data.Models.tbSchedule>
@{
    if (Model.Count > 0)
    {
        @*<div class="mt-20">
            <button class="btn btn-primary btn-xs btn-rounded" data-doctorid="@Model.FirstOrDefault().DoctorID" data-hospitalid="@Model.FirstOrDefault().HospitalID" data-doctorname="@Model.FirstOrDefault().DoctorName" data-hospitalname="@Model.FirstOrDefault().HospitalName" onclick="addSchedule2(this)">Add</button>
        </div>

            <hr />

            <div class="mt-20">
                <img src="~/Content/Image/hospital1.png" style="width:25px;height:25px;" />
                <span class="lh10 text-muted ml-10">HOSPITAL OR CLINIC NAME : <Label class="lh15" style="color:#080000">@Model.FirstOrDefault().HospitalName</Label> </span>

            </div>

        <hr />*@
        foreach (var item in Model)
        {


            @*<div class="mt-20">
                <img src="~/Content/Image/hospital1.png" style="width:25px;height:25px;" />
                <span class="lh10 text-muted ml-10">HOSPITAL OR CLINIC NAME : <Label class="lh15" style="color:#080000">@item.HospitalName</Label> </span>
              
            </div>*@

           <div id="update_schedule_@item.ID">
               <div class="mt-20">
                   <div class="round">
                       <img src="~/Content/Image/calendar (1).png" style="width:25px;height:25px;" />
                       <span class="lh15 text-muted ml-10" style="color:#080000">DAY : </span>
                       @if (item.IsSunday == true)
                    {
                           <input type="checkbox" checked />
                           <label for="checkbox7">S</label>
                       }
                       else
                       {
                           <input type="checkbox" />
                           <label for="checkbox7">S</label>
                       }
                       @if (item.IsMonday == true)
                    {
                           <input type="checkbox" class="round ml-5"  checked />
                           <label for="checkbox1">M</label>
                       }
                       else
                       {
                           <input type="checkbox" class="round ml-5" />
                           <label for="checkbox1">M</label>
                       }
                       @if (item.IsTuesday == true)
                    {
                           <input type="checkbox" class="round ml-5"  checked />
                           <label for="checkbox2">T</label>
                       }
                       else
                       {
                           <input type="checkbox" class="round ml-5" />
                           <label for="checkbox2">T</label>
                       }
                       @if (item.IsWednesday == true)
                    {
                           <input type="checkbox" class="round ml-5" checked />
                           <label for="checkbox3">W</label>
                       }
                       else
                       {
                           <input type="checkbox" class="round ml-5" />
                           <label for="checkbox3">W</label>
                       }
                       @if (item.IsThursday == true)
                    {
                           <input type="checkbox" class="round ml-5" checked />
                           <label for="checkbox4">T</label>
                       }
                       else
                       {
                           <input type="checkbox" class="round ml-5" />
                           <label for="checkbox4">T</label>
                       }
                       @if (item.IsFriday == true)
                    {
                           <input type="checkbox" class="round ml-5"  checked />
                           <label for="checkbox5">F</label>
                       }
                       else
                       {
                           <input type="checkbox" class="round ml-5"  />
                           <label for="checkbox5">F</label>
                       }
                       @if (item.IsSaturday == true)
                    {
                           <input type="checkbox" class="round ml-5" checked />
                           <label for="checkbox6">S</label>
                       }
                       else
                       {
                           <input type="checkbox" class="round ml-5"  />
                           <label for="checkbox6">S</label>
                       }

                       @*<img src="~/Content/Image/time2.png" style="width:30px;height:30px;" />*@
                       <span class="lh15 ml-10">From </span>
                       <span class="badge badge-success" style="font-size:14px">@item.Fromtime.Value.ToShortTimeString()</span>
                       @*<input class='text-input ml-10' style="float:left" value="@item.Fromtime.Value.ToShortTimeString()" required type='text'>*@

                       <span class="lh15 ml-20">To </span>
                       <span class="badge badge-success" style="font-size:14px">@item.Totime.Value.ToShortTimeString()</span>
                       @*<input class='text-input ml-10' style="float:left" value="@item.Totime.Value.ToShortTimeString()" required type='text'>*@


                       <div class="" style="float:right">
                           <button class="btn btn-primary btn-xs btn-rounded" data-doctorid="@item.DoctorID" data-hospitalid="@item.HospitalID" data-doctorname="@item.DoctorName" data-hospitalname="@item.HospitalName" data-scheduleID="@item.ID" onclick="editSchedule2(this)">Update</button>
                           <button class="btn btn-danger btn-xs btn-rounded" data-id="@item.ID" onclick="deleteSchedule(this)">Delete</button>
                       </div>
                     
                      
                      

                   </div>

               </div>
             

               
           </div> 
          



        }
        <div id="schedule_@Model.FirstOrDefault().DoctorID">

        </div>
    }
    else
    {
        @*<div class="mt-20">
            <button class="btn btn-primary btn-xs btn-rounded" data-doctorid="@ViewBag.docid" data-hospitalid="@ViewBag.hosid" data-doctorname="@ViewBag.docname" data-hospitalname="@ViewBag.hosname" onclick="addSchedule2(this)">Add</button>
        </div>

        <hr />

            <div class="mt-20">
                <img src="~/Content/Image/hospital1.png" style="width:25px;height:25px;" />
                <span class="lh10 text-muted ml-10">HOSPITAL OR CLINIC NAME : <Label class="lh15" style="color:#080000">@ViewBag.hosname</Label> </span>

            </div>*@






    }

}




